body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: #fff8e1;
    padding: 20px;
}

h2 {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.question {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    text-align: left;
    border: none;
    background: #f5f5f5;
    cursor: pointer;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
    color: blue;
}

.icon {
    transition: transform 0.2s ease;
}

.item.active .answer {
    padding: 20px;
}

.item.active .icon {
    transform: rotate(45deg);
}

@media (min-width: 768px) {
    body {
        min-height: 100vh;
        align-items: center;
    }

    h2 {
        font-size: 23px;
    }

    .container {
        max-width: 700px;
        padding: 25px;
    }

    .question {
        font-size: 18px;
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 12px;
        color: blue;
    }

    .icon {
        transition: transform 0.2s ease;
    }

    .item.active .answer {
        padding: 20px;
    }

    .item.active .icon {
        transform: rotate(45deg);
    }
}